{% extends 'store/base.html' %}
{% block content %}
<h2 class="mb-4 text-primary">Checkout</h2>

<table class="table table-bordered table-hover shadow-sm">
    <thead class="table-info">
        <tr><th>Product</th><th>Qty</th><th>Price</th><th>Total</th></tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.product.price }}</td>
            <td>₹{{ item.total_price }}</td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="3" class="text-end"><strong>Total</strong></td>
            <td><strong>₹{{ total }}</strong></td>
        </tr>
    </tbody>
</table>

<h4 class="mt-4">Payment Options</h4>
<div class="d-flex gap-3 mt-2">
    <a href="{% url 'payment_success' order.id %}" class="btn btn-success btn-lg">Pay with Razorpay</a>
    <a href="{% url 'payment_success' order.id %}" class="btn btn-primary btn-lg">Pay with PhonePe</a>
</div>
{% endblock %}
